/*COLORS
  Dark gray: #666666
  Light Blue (links) #24B1FF
  Yellow: #EFD96F
  Light green: #7AD69C
  Light gray: #FAFAFA;
*/

@font-face {
  font-family: "Montserrat-Thin";
  src: url(assets/fonts/Montserrat-Thin.ttf) format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url(assets/fonts/Montserrat-ExtraLight.ttf) format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: "Montserrat-Light";
  src: url(assets/fonts/Montserrat-Light.ttf) format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url(assets/fonts/Montserrat-Regular.ttf) format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url(assets/fonts/Montserrat-SemiBold.ttf) format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url(assets/fonts/Montserrat-Bold.ttf) format('truetype');
  font-weight: 700;
}

body {
	background-color: #FAFAFA;
  font-family: "Montserrat-Regular";
  color: #666666;
  font-size: 16px;
  font-weight: 300;
  /*position: relative;
  top: 60px;*/
}

.align-right {
  text-align: right;
}

header {
  text-align: center;
  background-color: #EFD96F;
  /*background-color: #666666;*/
  border: none;
  padding: 1.3rem 1rem;
}

.p-bold {
  font-family: "Montserrat-SemiBold";
}

/*header .navbar {
  background-color: #EFD96F;
  border: none;
  padding: 1.3rem 1rem;
}

.navbar-nav {
  margin: 20px auto 0;
}

.navbar-brand-left {
  display: inline-block;
}

.navbar-brand-center {
  display: none;
  margin: 0 30px;
}

.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
  border: none;
}

.navbar .container {
  padding: 0 2rem;
  width: 100%
}

.navbar-light .nav-item a.nav-link {
  font-weight: 300;
  padding: 10px 0;
  text-align: center;  
}

.navbar-light .nav-item a.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.navbar-light .nav-item a.nav-link,
#body-wrap a,
a.arrowUp {
  color: #333333;
}

.navbar-toggler {
  cursor: pointer;
}*/

main section,
footer {
  padding: 6rem 1.25rem 4rem;
}

main section#whatis {
  /*padding-bottom: 6rem;*/
  padding-bottom: 0;
}

main section#whatis #headingWhatIs {
  /*padding-bottom: 6rem;*/
  padding-bottom: 0;
}

section h2 {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 30px;
  color: #666666;
  font-family: "Montserrat-ExtraLight";
}

#whatis h2, #token h2 {
  text-align: left;
}

#whatis ol {
  padding-left: 18px;
}

section h4 {
    font-size: 1.2rem;
    font-weight: 300;
}

div[class^='col-'] {
  margin-bottom: 2rem;
}

#whatis #contentWhatIs {
  background-color: #EFD96F;
  /*color: #fafafa;*/
  margin: 0 -1.25rem;  
}

#whatis #contentWhatIs .card-block {
  padding: 6rem 0;
}

#whatis #contentWhatIs .col-lg-6 {
  margin-bottom: 0;
}

a {
  font-family: "Montserrat-Bold";
  color: #7AD69C;
  /*color: #24B1FF;*/
  font-size: 0.8rem;
  border-bottom: 1px dotted #7AD69C;
}
#body-wrap .card-text {
  text-align: left;
}

#whatis h3 {
  font-weight: 200;
  margin-bottom: 1.5rem;
}

#body-wrap #people,
#body-wrap #people .card-text {  
  text-align: center;
}

#body-wrap #people .card-text {  
  font-size: 0.8rem;
  font-family: "Montserrat-SemiBold";
}

#people h2,
#history h2 {
  margin-bottom: 2rem;
}

#people h3 {  
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
  color: #bfbfbf;
}

#history,
#people {
  background-color: #eee;
}

#people img {
  width: 130px;
  height: 130px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;  
  margin: 0 auto; 
  border: 5px solid #fafafa;
} 

.card-header,
.card {
  background-color: transparent;
  border: none;
}

#history .card-img-top,
footer .card-img-top {
  max-width: 20px;
  margin: 20px auto;
  opacity: 0.5
}

#history .card-text a,
#token a {
  font-family: "Montserrat-Regular";
  /*color: #666666;*/
  font-size: 1rem;
  border-bottom: 1px dotted #666;
}
#history .card-text a:hover {
  text-decoration: none;
}

.card-title {
  font-family: "Montserrat-Light";
}

.graph {
  margin: 0 auto 44px 50px;
  /*display: block;*/
  width: 230px;

}

#body-wrap .more-p {
  margin-bottom: 6.75rem;
}

.arrowUp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 46px;
  color: rgba(0,0,0,0.5);
  z-index: 1000;
}

.slick-prev,
.slick-next {
  font-size: 46px;
  color: rgba(0,0,0,0.3);
  position: absolute;  
  /*top: 40%;*/
  top: 70px;
  cursor: pointer;
}

.slick-prev:hover,
.slick-next:hover {
  color: rgba(0,0,0,0.5);
}

.slick-prev {
  left: -35px;
}

.slick-next {
  right: -35px;
}

.slider-top .slick-slide:not(.slick-current) .card-title {
  font-size: 0.8rem;
  line-height: 1.2rem;
  /*-webkit-transition: font-size 0.5s ease-in;
  -moz-transition: font-size 0.5s ease-in;
  -o-transition: font-size 0.5s ease-in;
  -ms-transition: font-size 0.5s ease-in;*/
  transition: transform 0.5s ease-out;
}

.slider-top .slick-current .card-title {
  transform: scale(1.3);
  transition: transform 0.5s ease-out;
}

.slider-top .card-block {
  text-align: center;
}



.slider-top .fa-circle {
  display: none;
}

.slider-bottom,
.intro {
  max-width: 500px;
  margin: 0 auto;  
}

.intro {
  margin-bottom: 40px;
  text-align: center;
}

#history .intro {
  max-width: 380px;
}

#body-wrap .slider-bottom .card-block .card-text {
  text-align: justify;
}

footer, 
footer a,
footer a:hover {
  background-color: #f4f4f4;
  color: #666666;  
  font-size: 0.8rem;
}

footer .footer-top {
  /*background-color: #333333;*/
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 2px dotted rgba(0,0,0,0.05);
}

footer .footer-top .btn-dark {
  background-color: #eee;  
  font-family: "Montserrat-SemiBold";
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
  padding: 18px 24px;
}

footer .footer-top .btn-dark:hover {
  font-size: 1rem;
}

footer .footer-top .btn-dark img {
  width: 40px;
  margin-right: 10px;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  vertical-align: middle;
}

footer div:not(.footerlinks) > p {
  font-family: "Montserrat-SemiBold";
}

footer .footerlinks p, 
footer .footerlinks a {
  text-align: left;
  line-height: 14px;
  margin: 8px 0;
}

footer .footerlinks a {
  border-bottom: 1px dotted #bfbfbf;
  margin: 4px 0;
}

footer .fl1 p {
  text-align: right;
}

footer .card-img-top {
  margin: 20px auto;
  opacity: 1;
}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .slider-top .fa-circle {
    display: inline-block;
    font-size: 12px;
    position: absolute;
    top: 90px;
    -ms-transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0); 
    transform: translate(-50%,0);
  }
  .history-line {
    position: absolute;
    border-bottom: 1px solid #ddd;
    width: 80%;
    top: 260px;
    left: 50%;
    -ms-transform: translate(-50%,0); /* IE 9 */
    -webkit-transform: translate-50%,0); /* Safari */
    transform: translate(-50%,0);
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .navbar .container {
    width: 540px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .navbar-nav {
    margin: 0 auto;
  }
  .navbar-brand-left {
    display: none;
  }
  .navbar-brand-center {
    display: inline-block;
  } 
  .navbar-light .nav-item a.nav-link {
    padding: 10px 30px;
  } 
  .navbar-light .nav-item a.nav-link:hover {
    background-color: transparent;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .navbar-light .nav-item a.nav-link {
    padding: 10px 30px;
  }
  #whatis #contentWhatIs .col-lg-6 {
    /*margin-bottom: 2rem;*/
  }
  .slick-prev,
  .slick-next {
    top: 50px;
  }
  .history-line {
    top: 240px;
  }
  .slider-top .fa-circle {
    top: 70px;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}